nav 
{
	margin-top: 30px;
	font-size: 16px;
	.navbar-brand img
	{
		height: 45px;
		padding-right: 30px;
	}
	.nav-item
	{
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}

	a{
    	color: $text-color;
	}
	a:hover
	{
		background-color: transparent !important;
	}

}